body {
	background-color: lightblue;
	font-family: 'Courier New', Courier, monospace;
	font-size: large;
}

hr {
	border: 1px solid white;
}

.header {
	text-align: center;
	font-size: larger;
}

table {
	border-collapse: separate;
	border-spacing: 0 15px;
	margin: 0 auto;
}

.shipping {
	width: 50%;
	float: left;
}

.billing {
	width: 50%;
	float: left;
}

.button {
	background-color: rgb(89, 175, 228);
	color: black;
	border-style: solid;
	border-color: rgb(89, 175, 228);
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button:hover {
	background-color: #0742af;
	border-style: solid;
	border-color: black;
	color: white;
}

.buttonSearch {
	padding: 0px 30px;
}
