body {
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.header {
    text-align: center;
    font-size: large;
}

table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.body-container {
    width: 100%;
}

.shipping {
    width: 50%;
    float: left;
}

.billing {
    width: 50%;
    float: left;
}